.recipes-nav-container {
  text-align: center;
}
.recipes-nav {
  border: 1px solid $white;
  display: inline-block;
  position: relative;
  padding: 7px;
  width: 90%;
  max-width: 320px;
  margin: 0 12px 24px;
  .hasVideo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 95.6%;
    height: 95.6%;
    text-align: center;
    padding: 0 10px;
    background: rgba($pure-black,0.1);
    img{
      top: 35%;
      position: relative;
      opacity: .9;
    }
  }
  .overlay {
    background: rgba($pure-black,0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 95.6%;
    height: 95.6%;
    text-align: center;
    padding: 0 10px;
    opacity: 0;
    @include transition(all, 0.5s, ease-in-out);
    .title {
      color: $white;
      font-family: $secondary-font;
      text-transform: uppercase;
      font-size: 26px;
      line-height: 33px;
      position: relative;
      top: 0;
      @include transition(all, 0.5s, ease-in-out);
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
      .title {
        @include center-vertical();
      }
    }
  }
}

@media (min-width: 1200px) {
  .recipes-nav {
    width: 17%;
  }
}