<div id="container" du-scroll-container>
<div id="home" class="section" ng-include="'includes/home-fr.html'"></div>
<div id="products" ng-class="{active : activeProduct === true}" ng-controller="productsCtrl" class="section" ng-include="'includes/products.html'"></div>
<div id="ourstory" class="section" ng-include="'includes/ourstory.html'"></div>
<div id="wheretobuy" class="section" ng-include="'includes/wheretobuy.html'"></div>
<div id="recipes" class="section" ng-include="'includes/recipes.html'"></div>
<div id="promotions" class="modal fade" role="dialog" ng-include="'includes/promotions.html'"></div>
</div>
